<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.947159562707-ikmpaf9jdd4hcgme642e6qsdcn2tc72l</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>LexendDeca-Bold.ttf</string>
		<string>LexendDeca-Regular.ttf</string>
		<string>LexendDeca-SemiBold.ttf</string>
	</array>
	<key>NSContactsUsageDescription</key>
	<string>あなたの連絡先を同期します</string>
</dict>
</plist>
